<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsx.ncd.ncd_manager">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Activitys.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2.NoBar">
        <receiver android:name=".Activitys.StartSelfReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.SerialService">
            <intent-filter>
                <action android:name="com.xsx.ncd.ncd_manager.Services.SerialService" />
            </intent-filter>
        </service>

        <activity android:name=".Activitys.LunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.MainActivity" />
        <activity android:name=".Activitys.SettingActivity" />
        <activity android:name=".Activitys.UserManagementActivity" />
        <activity android:name=".Activitys.DataQueryActivity" />
        <activity android:name=".Activitys.TestDetailActivity" />
        <activity android:name=".Activitys.NetSetActivity" />
        <activity android:name=".Activitys.AboutUsActivity" />
        <activity android:name=".SelectUserActivity" />
        <activity android:name=".Activitys.DeviceInfoActivity"></activity>
    </application>

</manifest>